body{
    margin: 0px;
    padding: 0px;
}

header{
    position: relative;
    top: 0px;
    border: 1px solid red;
    height: 70px; 
    text-align: center;  
}

li{
    display: inline-block;
    margin-left: 10px;
    font-size: 26px;
    text-decoration: none;
}

.projects{
    text-align: center;
}

.pro{
    display: inline-block;
    height:35em;
    width: 25em;
    border: 1px dotted black;
    margin-right: 20px;
    margin-bottom: 20px; 
    vertical-align: top;
}

.pro img{
    height:22em;
    width: 24em;
}

.pro p{
    margin: 10px 5px;
}

.icons img{
    height: 80px;
    width: 80px;
}

.contact{
    border: 1px solid green;
    text-align: center;
}
